@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
   margin:0;
   padding: 0;
   font-family: 'Roboto', sans-serif;
   color: beige;
}
body{
    display: flex;
	flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    height: 100vh;
	/* background by Markus Spiske https://unsplash.com/photos/Huyq5rbM_Po */
	background: url("./img/bg.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;


}
.center-flex{
    display: flex;
	flex-direction: column;
    justify-content:space-around;
    align-items:center  
}

.container{
	margin: 3em auto auto 3em;
	width: 310px;
	height: 260px;
	border-radius: 3px;
	backdrop-filter: blur(15px)
}
#full-screen{
	width: 80%;
	padding: 8px;
	color: #000;
}
.float{
	
	position:fixed;
	visibility: hidden;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:rgb(90, 161, 143);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.footer{
	margin-left: 20%;
}